@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color:rgb(15 22 30); */
}
/* rgb(15 22 30) */
body{
  background-color:rgb(17, 28, 34);
  color: rgb(168 176 180);
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(65, 59, 59, 0.69);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(57,196,198);
  border-radius: 10px;
}
.dashb a {
  text-decoration: none;
  color: white;
}
.sideBar {
  width: 250px;
}
.fa-angle-right {
  padding-left:3px;
  padding-right:3px;
  border: 1px solid white;
  border-radius: 50%;
}
.dashb {
  color: white;
  font-family: 'Prompt';
  padding: 12px;
  border-radius: 0px 20px 20px 0px;
  background: rgb(64 73 241);
  margin-top: 40px;

}
.classList ul li {
  font-family: 'Prompt';
  list-style-type: none;
  padding: 12px;
  width: 200px;
  /* background-color: rgb(63 73 241); */
  margin-top: 12px;
  margin-left: 0px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 0px 20px 20px 0px;
}
.classList ul li a {
  text-decoration: none;
  color: white;
}
.sync {
  padding: 10px;
  background: black;
  border-radius: 20px;
}
.Flex{
/* width: 90%;
width: 50vw; */
}
.sideBar {
  /* border: 3px solid black; */
/* margin: 20px; */
  background-color:rgb(16 23 31);
  /* border-radius: 12px; */
  padding-right: 23px;
  padding-bottom: 23px;
  padding-top: 23px;
  padding-left: 0px;
  height: 100%;
}
.dicEmp {
  display: flex;
  align-items: center;
  justify-content: center;

}
.dicEmp .dic{
  background: white;
  color: black;
  padding: 10px;
  margin-right:2px;
  border-radius: 12px;
}
.pageBody {
  display: grid;
  grid-template-columns: 250px auto;
  /* justify-content: space-between; */

}
.one {
 background-image: linear-gradient(to right, purple, pink);
}
.two {
   background-image: linear-gradient(to right, skyblue, blue);
}
.boxs {
  background-color: rgb(0, 6, 26);
}
.h6 {
  font-family: 'Poppins';
}
.Cards , .CardsTwo{
  display: flex;
  flex-wrap: wrap;
}
.usd {
  font-family: 'Prompt';
  font-weight: bold;
  padding: 2px;
}
.box,.boxs {
  padding: 20px;
  border-radius: 20px;
  /* background: black; */
  color: white;
  margin: 10px;
  border-radius: 12px;
}
.dash{
  font-family: 'Poppins'
}
.breakOne {
  margin: auto;
}
.stretch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.leftShift {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  padding: 22px;
}
.leftShift input{
  border-radius: 42px;
  outline: none;
  padding: 10px;
  margin-left: 22px;
  width: 120px;
}
.search-btn {
  /* margin-left: -40px; */
  left: -30px;
  position: relative;
  color: white;
}
.flex {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  right: 22px;
  /* border: 2px solid red; */
  /* width: auto; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  margin: auto;
}
.headTable {
  display: flex;
  align-items: center;
  /* width: 40vw; */

  justify-content: space-between;
}
.plus button{
  border: none;
  outline: none;
  background-color: rgb(63 73 241);
  padding:18px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
}
th {
  font-family: 'Poppins';
  /* border-bottom: 1px solid grey; */
  /* border-collapse: collapse; */
}
td {
  padding: 0px 30px;
  font-family: 'Prompt';
  font-style: italic;
}
.completed {
  background:rgb(121, 193, 110);
  border-radius: 20px;
  padding:  0 5px;
  color: white;
}
.tablew table {
  border-spacing: 12px;
}
.tablew {
  text-align: center;

}
.info h1 {
  font-family: 'Prompt';
  font-size: 20px;
}
 tr {
  border-bottom: 1px solid grey;
  margin: 12px;
}
.text-center {
  font-family: 'Prompt'
}
.breakTwo {
  /* margin-left: 40px; */
  background: rgb(57,196,198);
background-image: linear-gradient(to bottom, #051937 60%, #051937, #051937, #051937,#051937, #6f80b3);
    padding: 12px;
  border-radius: 12px;

}
.some {
  width: 250px;
}
.pageDark{
position: absolute;
width: 100%;
height: 100%;
/* display: none; */
/* z-index: 1; */
/* background: rgba(0, 0, 0, 0.72); */
}
@media only screen and (min-width: 600px) {
  .pageBody {
    /* display:  block; */
  }

}
.firstBtn , .secondBtn {
  width: 300px;
  border-radius: 20px;
  display: grid;
  margin: 5px;
  grid-template-columns: 100px auto;
  align-items: center;
  justify-content: space-between;
  /* padding: 30px; */
  background:  rgb(0, 6, 26);
  height: 110px;
}
.blue h2 {
  background-color: grey;
  padding: 10px;
  width: 40px;color: white;
  text-align: center;
  height: 40px;
  border-radius: 50%;
}
.blue {
  background: blue;
  padding: 30px;
/* width: 10px; */
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.viewBtn button {
  border-radius: 30px;
  border: none;
  background: rgb(57,196,198);
  padding: 12px;
  cursor: pointer;
}
.viewBtn button:hover {
  transition: 1.2s;
  background-color: rgb(47, 216, 218);
}
.viewBtn button a {
  text-decoration: none;
  font-family: 'Prompt';
  color: black;
}
.dropbtn {
  color: white;
  font-family: 'Poppins';
  padding: 16px;
  border: none;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 53, 65);
}
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(68, 83, 98);
}
.detail {
  position: relative;
  display:inline-block;


}
.popup .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup .head h2 {
  font-size: 17px;
  font-family: 'Prompt';

}
.popup {
  background-color: rgb(27, 28, 45);
  padding: 20px;
  border-radius: 20px;
  /* display: block; */
  transition: 1.2s;
  position: absolute;
    top: 102px;
    right:12px;
}

/* .pageBody {
  background-color: rgba(0, 0, 0, 0.74);
  transition: 1.2s;
  z-index: 1;
} */

.containerGraphs {
  display: flex;
  justify-content: space-evenly;
  /* grid-template-columns: auto auto; */
  /* position: relative;
  left: -12px; */
}
.popup {
  display: none;
}
.container_1,.container_2{
  width: 450px;
  margin: 5px;
  height: 450px;
  background-color: rgb(23 33 43);
  border-radius: 23px;
  padding: 20px;
}
.container_1 .head, .container_2 .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_1 h4 , .container_1 .dots p ,.container_2 h4, .container_2 .dots p{
  font-family: 'Poppins'
}
.container_1 .date p ,.container_2 .date p{
  font-family: 'Prompt';
  background: black;
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 30px;
  text-align: center;
  font-style: italic;
  margin: 12px;
}
.container_1 .dots ,.container_2 .dots {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container_1 .dots .red,.container_2 .dots .red {
  color: red;
}
.container_1 .dots .blues,.container_2 .dots .blues {
  color: blue;
}
.fa-refresh {
 cursor: pointer;
}
.currency h3 {
  font-family: 'Poppins';
  padding: 5px;

}
.dropdown-content a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(63, 68, 80);
  padding: 12px;
  font-family: 'Poppins';
}
.dropdown-content a:hover {
  transition: 1.2s;
  background-color: rgb(42, 42, 42);
}
.detail span {
  padding: 5px;
  float: right;

  transform: rotate(360deg);
}
.search-box input{
  font-family: 'Poppins';
  color: white;
  background-color: black;
  outline: none;
  border: none;
}
@media screen and (max-width: 750px) {
.pageBody {
  display: block;

}
.sideBar {
  height: auto;
  margin-bottom: 20px;
  width: 100%;
  display: block;



}
.some {
  display: flex;
  justify-content: center;
  width: 100%;
}

html {
  width: 100%;
}
.classList ul {
  display: block;
  text-align: center;
  width: auto;
}
.classList ul li:hover {
  transition: 1.2s;
  color: rgb(29, 35, 41);
  background-color: rgba(224, 227, 231, 1);
cursor: pointer;
}
.classList ul li a:hover {
  transition: 1.2s;
  cursor: pointer;
    color: rgb(29, 35, 41);
}
.classList ul li {
  font-family: 'Prompt';
  list-style-type: none;
  margin: auto;
  border-radius: 0;
  margin: 10px;
  width: 100%;
  /* padding: 12px; */
}
.bodyTwo {
  display: block;
  justify-content: center;
}
.body{
  display: block;
  width: 100%;
}
.dashb {
  color: white;
  display: none;
  font-family: 'Prompt';
  padding: 12px;
}
.leftShift{
  display: none;
}
.breakOne{
  margin: 5px 0 5px 10px;
  display: flex;
  justify-content: space-between;

  /* padding: 10px; */
}
.emptys
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.graphs{ display: flex;
justify-content: center;}
.containerGraphs{
  display: block;
}
.viewBtn button {
  display: none;
}
.breakTwo {
width: auto;
margin:10px 0px 10px 50px;
}
.breakTwo table {
  width: 100%;
}
.container_1{
  margin-bottom: 10px;

}
}
